<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stat.keeper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainMenuActivity"
            android:label="Main Menu" >
            <intent-filter>
                <action android:name="stat.keeper.MAINMENUACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="PreferencesActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="stat.keeper.PREFERENCESACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".TeamListActivity"
            android:theme="@style/TransTheme"
            android:label="Team List" >
        </activity>
        
        <activity
            android:name=".NewTeamActivity"
            android:label="Team Stats" >
        </activity>
        
         <activity
            android:name=".EditTeamActivity"
            android:label="Team Stats" >
        </activity>
        
         <activity
            android:name=".GameListActivity"
            android:theme="@style/TransTheme"
            android:label="Game List" >
        </activity>
        
        <activity
            android:name=".NewGameActivity"
            android:label="Game Stats" >
        </activity>
        
          <activity
            android:name=".EditGameActivity"
            android:label="Game Stats" >
     
        </activity>
        
         <activity
            android:name=".StatViewerActivity"
            android:theme="@style/TransTheme"
            android:label="Stat Viewer" >
        </activity>
        
         <activity
            android:name=".TotalsTeamListActivity"
            android:theme="@style/TransTheme"
            android:label="Team List" >
        </activity>
        
           <activity
            android:name=".TotalStatViewerActivity"
            android:theme="@style/TransTheme"
            android:label="Team List" >
        </activity>
         
         
        
    </application>

</manifest>